/*banner*/
.bannerfoto {
  max-width: 100%;
}

/* navbar */

.navbar {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff4fc;

}

.navbar-light .navbar-nav .nav-link {
  color: darkblue;
  font-size: 18px;
  margin-right: 15px;
}

nav.navbar {
  padding-left: 10px;
  margin-left: auto; 
}

ul.navbar-main {
    margin: 0 auto;
    width: 100%;
  }

@media (min-width: 1100px)
 {
ul.navbar-main {
  margin: 0 auto;
  width: 1100px;
}
 }
.navbar-right {
    margin-left: auto;
}

img.profielklein {
    width: 25px;
    float: right;
}

/* forms */
.userform {
  max-width: 768px;
}

.formbottom {
  margin-top: 20px;
}

/* body */
#text {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
#text2 {
  text-align: end;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  /* background-image: url("../img/background.jpg"); */
}

img.card-img-top {
  width: auto;
  height: 260px;
  /*bij verkeerde image formats wordt de verhouding goed gezet */
  object-fit: cover;
}

div.card-body {
height: 200px;
}





/* footer */
.footer {
  padding: 4rem 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
