/*banner*/ 
.bannerfoto {
    max-width: 100%;
} 

.footer{
    padding: 4rem 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    
}
#text{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
#text2{
    text-align: end;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-image: url("../img/background.jpg");
}