/*banner*/
.headerfoto {

  
  display: block;
  max-width: 1200px;
  width: 100%;
  height: 160px;
  margin: 0 auto;


  object-fit: cover;
}

div.header {

  width: 100%;


}

/* navbar */

.navbar {

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff4fc;

}

.navbar-light .navbar-nav .nav-link {
  color: darkblue;
  font-size: 18px;
  margin-right: 15px;
}

nav.navbar {
  padding-left: 10px;
  margin-left: auto; 
}

ul.navbar-main {
    margin: 0 auto;
    width: 100%;
  }

@media (min-width: 1100px)
 {
ul.navbar-main {
  margin: 0 auto;
  width: 1100px;
}
 }
.navbar-right {
    margin-left: auto;
}

img.profielklein {
    width: 25px;
    float: right;
}

.homebanner {
  height: 500px;
  padding-top: 250px ;
  width: 100%;
  background-image: url(../img/screenshot_1);
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.151);
  box-shadow: inset 0 0 0 1000px rgba(12, 12, 255, 0.151);

}

/* home */
.bannerlogo {
  margin-top: -75px;
  max-height: 150px;
  height: auto;
}
h2.title {
  color: burlywood;
  font-size: 35px;
}

h2.text {
  color: burlywood;
  font-size: larger;
}

.bannertext {
  margin-top: -36.5px;
}

.homebutton {
  padding: 1rem 3rem;
  background-color: burlywood;
  color: white;
  border: solid;
  font-size: 20px;
  border-color: brown;
}

.content {
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
max-width: 1600px;
}


.carousel {
  border: solid;
  border-width: 1.5px;
  border-color: burlywood;
}
img.carouselimg{
  height: 500px;
  object-fit: none;
  object-position: 50% 50%;


  
}


/* forms */
.userform {
  max-width: 768px;
}

.formbottom {
  margin-top: 20px;
}

/* body */
#text {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
#text2 {
  text-align: end;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  /* background-image: url("../img/background.jpg"); */
}

img.card-img-top {
  width: auto;
  height: 260px;
  /*bij verkeerde image formats wordt de verhouding goed gezet */
  object-fit: cover;
}

div.card-body {
height: 200px;
}





/* footer */
.footer {
  padding: 4rem 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
